//=gradient($gradient: ($stuff, $start-color, @end-color))
	-webkit-$gradient: ($stuff, $start-color, @end-color)
	-moz-$gradient: ($stuff, $start-color, @end-color)
	-o-$gradient: ($stuff, $start-color, @end-color)
	-ms-$gradient: ($stuff, $start-color, @end-color)
	$gradient: ($stuff, $start-color, @end-color)


//=gradient( $top, $bottom )
	background-image = "-webkit-linear-gradient(top, #{$top}, #{$bottom})"
	background-image = "-moz-linear-gradient(top, #{$top}, #{$bottom})"
	background-image = "linear-gradient(top, #{$top}, #{$bottom})"
	
	

@import css3/linear-gradient
//	-ms-filter = progid:DXImageTransform.Microsoft.gradient(startColorStr=’#{$top}’, EndColorStr=’#{$bottom}’)

/* Scalable.gs framework
@import scalablegs



/* General stuff
body
	font-size: 12px
	font-family: Verdana
	line-height: 1.6em

	
h1,h2,h3,h4,h5,h6
	font-weight: 100
	text-transform: uppercase
	font-family: 'Helvetica neue',Helvetica, sans-serif
	line-height: 1em
	
h1
	font-size: 3em
h2
	font-size: 3em
img
	text-align: center
	display: block

a
	text-decoration: none

html
	min-height: 100%
	background-attachment: fixed
	background: #434950



#header
	//margin: 3em 0
	background: #fff
	color: #777
	h1
		padding: 1em
		font-size: 3.3em
		line-height: 1em
		text-align: left
		span
			color: #333
	h2
		display: none

body > header > h1
	width: 300px
	display: block
	
#github
	height: 198px
	max-height: 198px
	h1
		display: none
#dfmf
	background-color: #E3E3E3	
	+linear-gradient(#fff, #E3E3E3)
	height: 198px
	max-height: 198px
	
	h1
		display: none

#dribbble
	background: #ea4c89
	text-align: center
	h1
		display: none
	img
		margin: 0
		padding: 0
		display: block

#forrst
	position: relative
	background: #306030
	max-height: 198px
	overflow: hidden
	h1
		display: none
	ul
		li
			list-style: none
			
			&:hover
				background: #416d3e
	a
		padding: 1em
		line-height: 1em
		color: #fff
		text-transform: uppercase
		display: block

#about
	position: relative
	background: #fff
	h1
		display: block
		position: absolute
		right: 0
		top: -1em
		background: #fff
		line-height: 1em
		text-align: right
		padding: 0 .3em
	p
		padding: 0.5em 1em

.client,article > header
	margin-top: 1%
	margin-bottom: 1%
	background: #fff
	
	img,p,h1,h2,h3
		padding: 1em
