@import css3/transition
// Design

//@import css3/linear-gradient

html
  min-height: 100%
  background: #fff

body
  color: #777

h1,h2,h3,h4,h5,h6, a
  color: #3b424c


h1,h2,h3,h4,h5,h6,p
  padding: 1rem 0

a
  //color: #333
  text-decoration: none
  //+transition (text-decoration, 3s, ease-in-out)
  &:hover
    text-decoration: underline
  &:active
    top: 1px
  &[rel=external]
    text-transform: uppercase
    display: block
    text-align: right
    &::after
      opacity: 0
      +transition (opacity, 2s, ease-in-out)
    &:hover
      text-decoration: none
      &::after
        opacity: 1   
        content: "\&#x1f517;"
        position: absolute
        right: 13rem




// Header design
#header
  height: 12rem
  background: url(/assets/kdn-avatar-100x100.png) 0px 15px no-repeat
  h1
    margin-top: 5rem
    //text-decoration: underline
  h1, h2
    line-height: 2rem
    padding: 0
    padding-left: 11rem

    span
      color: #333
  h2
// Social modules
#dribbble, 
#forrst
  
#dribbble
  img
    padding: 0
    margin: 0
#forrst
  background: #306030
  li
    list-style: none

// About design

// Portfolio design
.client
  position: relative
  .gallery
    margin-bottom: 180px
// Footer design
#footer
  text-transform: uppercase
  ul
    padding-left: 2rem
    li
      float: left
      margin-right: .3rem
      list-style: none
  small
    float: right
    padding-right: 2rem


@media screen and (max-width: 480px) 
  h1,h2,h3,h4,h5,h6,p
    padding: 1rem
// Tablet & desktop
@media screen and (min-width: 480px) and (max-width: 960px)
  html
    background: #fff
  #header
    background: url(/assets/kdn-avatar-100x100.png) 0rem 1.5rem no-repeat
    padding-left: 12rem
    padding-top: 1rem
    margin-left: 0rem
    h1
      +transition (background, 3s, ease-in-out)
      padding-right: 20rem no-repeat
      +transition (background, 3s, ease-in-out)
  #work, #about, .client
    margin-bottom: 3rem
  .client
    h1
      z-index: 20
      position: absolute
      top: 3rem
      right: 0rem
      background: rgba(255,255,255,.7)
      padding: 1rem
    .gallery
      margin: 0px
      margin-bottom: 360px



// Large resolution
@media screen and (min-width: 960px)
  html
    background: #fff
  #header
    +transition (margin-left, 3s, ease-in-out)
    position: relative
    

  #header, .introduction, .client, #about
    position: relative
    margin-bottom: 3rem
    h1
      text-transform: uppercase
      position: absolute
      top: 0rem
      left: -42rem
      width: 40rem
      text-align: right
    .gallery
      margin: 0px
      margin-bottom: 360px
  #header
    height: 11rem
    margin-top: 10rem
    margin-bottom: 10rem
    h1
      top: .5rem
      left: -17rem
      width: 15rem
    h2
      padding-left: 12rem
      margin-top: 4rem
  // .gallery
  //   img
  //     +transition (width, 3s, ease-in-out)
  //     &:hover
  //       width: 100%
  //       position: absolute
  //       top: 0rem
  //       right: 0rem
@media screen and (-webkit-min-device-pixel-ratio: 1.5)
  #header
    background: url(/assets/kdn-avatar-100x100@2x.png) 5px 15px no-repeat
  
          