@import css3/transition
@import framework

// Mobile
#body
  +column-setup
  img, 
  object, 
  video 
    max-width: 100%
  > *
    float: left
#github,
#forrst,
#dfmf,
#dribbble,
#header,
.portfolio,
.gallery,
#about,
#footer
  +column-width(1)
  //+transition (width, .5s, ease-in-out)
  margin-top: $margin
  margin-bottom: $margin
  background: #fff
  padding-bottom: 30px
  padding-bottom: 4rem
#github,
#forrst,
#dfmf,
#dribbble,
#footer
  padding: 0
// Mobile 
@media screen and (max-width: 60rem), screen and (max-width: 600px)
  
// Tablet & desktop
@media screen and (min-width: 60.1rem), screen and (min-width: 601px)
  $sitewidth: 60rem
  #body
    width: $sitewidth
    #forrst
      +column-width(2)
      margin-left: $margin
    #dribbble
      +column-width(2)
      margin-right: $margin
    #github,
    #header,
    .portfolio,
    .gallery,
    #about,
    #footer
      +column-width(1)

