// Typography

body, p, li
  font-size: 12px
  font-size: 1.2rem
  text-rendering: optimizeLegibility


h1, 
h2, 
h3, 
h4, 
h5, 
h6
  font-family: 'Lato', sans-serif

h1, h2
  font-size: 3.2rem
  font-weight: 100
p,
li
  font-family: 'Adamina', Verdana, serif
  line-height: 2rem

@media screen and (-webkit-min-device-pixel-ratio: 2)
  p
    font-size: 120%