// Typography


body
	font-size: 12px
	font-size: 1.2rem



h1, h2, h3, h4, h5, h6
	font-family: 'Lato', sans-serif

h1
	font-size: 4rem
	font-weight: 100
p,li,a
	font-family: 'Adamina', Verdana, serif
	line-height: 2rem