%article.introduction.clearfix
  %p
    My name is Kenneth Dahlstrøm & I am a product designer currently working out of Halden, Norway. A perfectionist advocating a mobile first user experience built with the latest web technologies and technics.

  %p
    <a href="/casestudies" id="recent-work" class="button">Case studies</a>
    <a href="mailto:kenneth@dpd.im" class="button">Send me an email</a>



  %blockquote
    %p
      Kenneth joined our team in January 2012 as a senior consultant. In an impressive way he has adjusted to our large government organization, suggested substantial technical improvements and realized those ideas in the form of our redesigned web platform. Our new platform is available on everything from a smartphone to the large desktop in addition to specialized mobile and tablet gateway apps. He has a deep knowledge about the online product field. He is highly structured and focuses on simplifying the process for getting things done. He has impressively adjusted and made large-scale contribution to our complex CMS system and site structure.
    %p
      %cite
        \- <a href="http://www.hiof.no/nor/hogskolen-i-ostfold/diverse/alle-ansatte?displayitem=5&module=admin">Tore Petter Engen</a>, Chief Information Oficer, <a href="http://www.hiof.no/eng/english/">Østfold University College</a>.



  %blockquote
    %p 
      Kenneth was a quick learner and picked up the necessary new technologies (coffeescript &amp; haml) in order to be an effective contributor to the Wheelz project. Working with a small team of engineer, designer and product manager, we were able to iterate quickly to improve the website frontend user experience.</p>

    %p
      %cite
        \- Yu-Shan Fung, Lead developer, <a href="http://wheelz.com">Wheelz Inc</a>.




- #content_for :js_onload do

