%section#work.clearfix
  %article.article.introduction
    %h1 Hello
    %p
      I am a leader when it comes to taking advantage of new technics and technologies in my work. I’m an expert in the front end field juggling the latest advances in HTML, CSS and Javascript to create an immersive experiences for the visitor.
    %p
      A handfull of selected projects is available, get in touch if you <a href="mailto:kenneth@nordahl.me">want to work with me</a>.
  %article.article.client.development.design
    %h1 Høgskolen i Østfold
    %p
      Høgskolen i Østfold is known for being one of the pioner IT educators in Norway.
    %p
      I currently have the pleasure of working at their information and communication department as the lead developer of their next generation web platform.
    %ul
      %li
        %a{:href => '/articles/responsive-design-of-hiof', :title => 'The story of Høgskolen i Østfold', :rel => "internal"} Continue reading
      %li
        %a{:href => 'http://hiof.no', :title => 'Høgskolen i Østfold', :rel => "external"} Visit the website
  %article.article.client.research
    %h1 Small screen first. A design process using the Scalable Grid System
    %p
      This paper describes the fragmentation in the current design of web content and looks at a possible solution to ease the entry point for cross browser and multi screen size development. It takes a step back from the discussion regarding the design aesthetics and focuses on the overall layout.
    %ul
      %li
        %a{:href => '/articles/small-screen-first-a-design-process-using-the-scalable-grid-system', :title => 'Scalable Grid System', :rel => "internal"} Read the research paper
  / %article.article.client.media
  /   %h1 Video productions
  /   %p
  /     I've had different roles on the set for several short movies and a music video.
  /   %ul
  /     %li
  /       %a{:href => 'http://scalable.gs', :title => 'Scalable Grid System', :rel => "internal"} Continue reading
  /     %li
  /       %a{:href => 'http://hiof.no', :title => 'Høgskolen i Østfold', :rel => "external"} Visit the website

  %article.article.client.development
    %h1 minimalRB
    %p
      minimalRB is a minimalistic starting point for anyone who want to get up and running with a Ruby based application that include an asset pipeline that renders Haml, Sass and CoffeeScript.
    %ul
      %li
        %a{:href => 'http://minimalrb.com', :title => 'Minimalisting Sinatra framework for starting off with an asset pipeline with Haml, Sass and CoffeeScript', :rel => "external"} Visit the website

  %article.article.client.development
    %h1 Scalable Grid System
    %p
      The Scalable Grid System or scalable.gs for short, is a device independent and cross screen size web development framework. The system use a range of technologies to optimize the user experience of a website on a range of different platforms.
    %ul
      %li
        %a{:href => 'http://scalable.gs', :title => 'Scalable Grid System', :rel => "external"} Visit the website


-content_for :js_onload do
  / functionalityController = new window.FunctionalityController();
  / ajaxContentController = new window.AjaxContentController();
  / browserResizeController = new window.BrowserResizeController();
