%article.introduction.clearfix
  %h1 Hello world, this is me
  %p
    I am always at the forefront when it comes to taking advantage of new technics and technologies in my work. I’m an expert in the front end field juggling the latest advances in HTML, CSS and Javascript to create an immersive experiences for the visitor.
  %blockquote
    %p
      Kenneth was a quick learner and picked up the necessary new technologies (coffeescript & haml) in order to be an effective contributor to the Wheelz project. Working with a small team of engineer, designer and product manager, we were able to iterate quickly to improve the website frontend user experience.
    %cite
      \- Yu-Shan Fung, Lead developer, <a href="http://wheelz.com" title="" rel="external">Wheelz Inc</a>.
  -#%blockquote
  -#  %p
  -#    A quote with some lorem text2
  -#  %cite
  -#    \- Tore-Petter Engen, Information chief, <a href="www.hiof.no/eng/english/" title="" rel="external">Østfold university collage</a>.
  %p
    You can <a href="mailto:kenneth@nordahl.me?subject=I want to hire you">hire me for a fulltime gig</a> or get in touch with me so I can <a href="mailto:kenneth@nordahl.me?subject=I want you to work on my project">bring your ideas alive</a>.
  %p
    Check out my selected projects below.
%section.projects.clearfix
  -#%h1 Projects 
  %article.portfolio.development.design
    %h1
      %a{:href => '/articles/responsive-design-of-hiof', :title => 'The story of Høgskolen i Østfold', :rel => "internal"} Østfold University College
    %p
      Østfold University College is known for being one of the pioner IT educators in Norway.
    %p
      I currently have the pleasure of working at their information and communication department as the lead developer of their next generation web platform.
    %ul
      %li
        %a{:href => '/articles/responsive-design-of-hiof', :title => 'The story of Høgskolen i Østfold', :rel => "internal"} Continue reading
      %li
        %a{:href => 'http://hiof.no', :title => 'Høgskolen i Østfold', :rel => "external"} Visit the website
  %article.portfolio.research
    %h1
      %a{:href => '/articles/small-screen-first-a-design-process-using-the-scalable-grid-system', :title => 'Scalable Grid System', :rel => "internal"} Small screen first. A design process using the Scalable Grid System
    %p
      This paper describes the fragmentation in the current design of web content and looks at a possible solution to ease the entry point for cross browser and multi screen size development. It takes a step back from the discussion regarding the design aesthetics and focuses on the overall layout.
    %ul
      %li
        %a{:href => '/articles/small-screen-first-a-design-process-using-the-scalable-grid-system', :title => 'Scalable Grid System', :rel => "internal"} Read the research paper
  %article.portfolio.development
    %h1
      %a{:href => 'http://minimalrb.com', :title => 'Minimalisting Sinatra framework for starting off with an asset pipeline with Haml, Sass and CoffeeScript', :rel => "external"} minimalRB
    %p
      minimalRB is a minimalistic starting point for anyone who want to get up and running with a Ruby based application that include an asset pipeline that renders Haml, Sass and CoffeeScript.
    %ul
      %li
        %a{:href => 'http://minimalrb.com', :title => 'Minimalisting Sinatra framework for starting off with an asset pipeline with Haml, Sass and CoffeeScript', :rel => "external"} Visit the website

  %article.portfolio.development
    %h1
      %a{:href => 'http://scalable.gs', :title => 'Scalable Grid System', :rel => "external"} Scalable Grid System
    %p
      The Scalable Grid System or scalable.gs for short, is a device independent and cross screen size web development framework. The system use a range of technologies to optimize the user experience of a website on a range of different platforms.
    %ul
      %li
        %a{:href => 'http://scalable.gs', :title => 'Scalable Grid System', :rel => "external"} Visit the website
-#%section.articles.clearfix
-#  %h1 Articles
-#  %article
-#    %h2 Responsive design
-#  %article
-#    %h2 Preprosessors
-#  %article
-#    %h2 HTML5
-#  %article
-#    %h2 CSS3


- #content_for :js_onload do

