%article.introduction.clearfix
  %p
    My name is Kenneth Dahlstrøm & I am a product designer currently working out of Halden, Norway. A perfectionist advocating a mobile first user experience built with the latest web technologies and technics. I am available to discuss new oppertuneties, products, ideas; <a href="mailto:hi@dpd.im">get in touch</a>.

  %p
    <a href="/work" id="recent-work" class="button
    ">Recent work</a>


- #content_for :js_onload do

