%section
  %ul
    %li
      %a.social.mail{:href => "mailto:kenneth@nordahl.me"} kenneth@nordahl.me
    %li
      %a.social.github{:href => ""} /kdn
    %li
      %a.social.forrst{:href => ""} /kdn
    %li
      %a.social.twitter{:href => ""} /kdnordahl