!!! 5
/[if lt IE 7] <html lang="en" class="no-js ie6">
/[if IE 7 ] <html lang="en" class="no-js ie7">
/[if IE 8 ] <html lang="en" class="no-js ie8">
/[if IE 9 ] <html lang="en" class="no-js ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%head
  %meta{:charset => 'utf-8'}
  
  %title 
    = @title || "KDN | Kenneth Dahlstrøm Nordahl, User Experience Designer and Frontend Developer"



  %meta{ :author => 'description', :content => 'The online presence of Kenneth D. Nordahl'}
  %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
  %link{:rel => "stylesheet", :media => "screen", :type => "text/css", :href => "/assets/application.css"}
  %link{:rel => "stylesheet", :media => "print", :type => "text/css", :href => "/assets/print.css"}
  %script{:src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'}
  %script{:src => '/assets/application.js'}
  %link{:rel => "icon", :type => "image/png", :href => "/favicon.png"}
%body#body
  -# Print preview
  -# %a{:href => "#", :onclick => "print_preview(); return false;"} Print this page
  %header#header
    %a{:href => 'http://nordahl.me', :rel => "internal"}
      %h1 Kenneth Dahlstrøm Nordahl
      %h2 UX designer &amp; Frontend engineer
  =yield
  %footer#footer
    %ul.technology
      %li
        %a{:href => 'http://github.com/KDN/nordahl.me', :rel => "external"}
          Source code
      %li
        |
        %a{:href => 'http://scalable.gs', :rel => "external"}
          Scalable.gs
      %li
        |
        %a{:href => 'http://minimalrb.com', :rel => "external"}
          minimalRB
        

    %small{:rel => "copyright"}
      Copyright 2012 | <a href="http://nordahl.me" rel="internal">nordahl.me</a>

  =# yield_content :some_key

  %script
    window.onload = function() {
    -# js onload
    #{ yield_content :js_onload }
    };
    -# other JS
    #{ yield_content :js_footer }

  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28587675-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</html>